<ion-header>
  <ion-toolbar>
    <ion-title>crear-empleo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Titulo <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="empleo.titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripcion<ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea [(ngModel)]="empleo.descripcion"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Salario<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="empleo.salario"></ion-input>
    </ion-item>

    <ion-item>

      <test-component icon="camera" (finish)="saludar($event)"></test-component>

      <app-image-upload [icon]="'camera'" [type]="'camera'" (uploadFinished)="imagenCargada($event)"></app-image-upload>

      <ion-button type="button" (click)="tomarFoto()">Tomar Foto</ion-button>
      <img [src]="base64Image">
    </ion-item>
    
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="guardarEmpleo()">Crear Empleo</ion-button>
  </div>
  
</ion-content>
