<ion-header>
  <ion-toolbar>
    <ion-title>Transacciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list id="lista1">

    
    <ion-item *ngFor="let transaccion of transacciones | async">
      <ion-label >
        <h2>Código: {{transaccion.codigo_tipo_transaccion}}</h2>
        <h3>Nombre: {{transaccion.nombre_tipo_transaccion}}</h3>
        <h3>Descripción: {{transaccion.descripcion_tipo_transaccion}}</h3>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
